{% extends 'base.html' %}
{% load static %}
{% load currency_filters %}


{% block manage %}
  <div class="row mb-3">
    <div class="col-md-4">
      <div class="alert alert-primary mb-0">
        <strong>Tổng tiền nhập:</strong> {{ total_import|vnd }} VNĐ
      </div>
    </div>
    <div class="col-md-4">
      <div class="alert alert-success mb-0">
        <strong>Tổng đã thanh toán:</strong> {{ total_paid|vnd }} VNĐ
      </div>
    </div>
    <div class="col-md-4">
      <div class="alert alert-danger mb-0">
        <strong>Tổng nợ hiện tại:</strong> {{ total_debt|vnd }} VNĐ
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <h4>Danh sách phiếu nhập</h4>
     <div class="card mb-3">
  <div class="card-body">
    <form method="get" class="row g-3 align-items-end">
      <div class="col-md-3">
        <label class="form-label">Từ ngày</label>
        <input type="date" name="date_from" class="form-control" value="{{ date_from }}">
      </div>

      <div class="col-md-3">
        <label class="form-label">Đến ngày</label>
        <input type="date" name="date_to" class="form-control" value="{{ date_to }}">
      </div>

      <div class="col-md-3 d-flex gap-2">
        <button type="submit" class="btn btn-primary text-nowrap px-4 btn-action">
          Lọc
        </button>
        <a href="{% url 'sale_invoice_list' %}" class="btn btn-secondary text-nowrap px-4 btn-action">
          Xóa lọc
        </a>
        <a href="{% url 'import_receipt_create' %}" class="btn btn-success text-nowrap px-4 btn-action">
          + Tạo phiếu nhập
        </a>
      </div>
    </form>
  </div>
</div>
    
</form>
    <table id="receiptTable" class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nhà cung cấp</th>
          <th>Ngày tạo</th>
          <th>Người tạo</th>
          <th>Tổng tiền</th>
          <th>Đã thanh toán</th>
          <th>Còn nợ</th>
          <th>Trạng thái</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        {% for r in receipts %}
          <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.supplier }}</td>
            <td>{{ r.created_at }}</td>
            <td>
              {% if r.created_by %}
                {% if r.created_by.last_name or r.created_by.first_name %}
                  {{ r.created_by.last_name }} {{ r.created_by.first_name }}
                {% else %}
                  {{ r.created_by.username }}
                {% endif %}
              {% else %}
                ---
              {% endif %}
            </td>
            <td>{{ r.total_amount|vnd }} VNĐ</td>
            <td>{{ r.paid_amount|vnd  }} VNĐ</td>
            <td class="fw-bold text-danger">{{ r.debt|vnd  }} VNĐ</td>
            <td>
              {% if r.status == 'draft' %}
                <span class="badge bg-warning">Nháp</span>
              {% else %}
                <span class="badge bg-success">Đã xác nhận</span>
              {% endif %}

              {% if r.payment_status == 'unpaid' %}
                <span class="badge bg-danger">Chưa thanh toán</span>
              {% elif r.payment_status == 'partial' %}
                <span class="badge bg-warning">Thanh toán một phần</span>
              {% else %}
                <span class="badge bg-success">Đã thanh toán</span>
              {% endif %}
            </td>

            <td>
              {% if r.status == 'draft' %}
                <a href="{% url 'confirm_receipt' r.id %}" onclick="return confirm('Bạn có chắc muốn xác nhận phiếu này không ?')"><img src="{% static 'icons/right.png' %}" alt="detail" width="20px" height="20px" /></a>
                <a href="{% url 'delete_import_receipt' r.id %}" onclick="return confirm('Bạn có chắc muốn xóa phiếu này không ?')"><img src="{% static 'icons/remove.png' %}" alt="detail" width="20px" height="20px" /></a>
              {% endif %}
              <a href="{% url 'import_receipt_detail' r.id %}"><img src="{% static 'icons/detail.png' %}" alt="detail" width="20px" height="20px" /></a>
              <a href="{% url 'import_receipt_print' r.id %}"><img src="{% static 'icons/print.png' %}" alt="print" width="20px" height="20px"/></a>
              {% comment %} <a href="{% url 'payment_create' r.id %}" class="btn btn-warning btn-sm">Payment</a> {% endcomment %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block script_manage %}
  <script>
    
    
    $(document).ready(function () {
      $('#receiptTable').DataTable()
    })
    /* =============================
                           Auto remove alert
                        ============================= */
    setTimeout(() => {
      const elem = document.getElementById('alert')
      elem.parentNode.removeChild(elem)
    }, 2000)
  </script>
{% endblock %}
