{% extends "base.html" %}
{% load static %}
{% block manage %}
      <div class="container d-flex justify-content-center pt-2">
        <div class="col-md-5 border border-success border-3 rounded-3">            
          <div class="p-2 d-flex justify-content-start align-items-center bg-success">
              <img src="{% static 'images/tbsgroup.png'%}" width="30px" height="30px">
              <div class="container-fluid"><h5 class="text-center text-white">CẬP NHẬT THÔNG TIN NHÀ CUNG CẤP</h5></div>
          </div>
        <form method="post" action="{% url 'update_supplier' supplier.id %}">
            {% csrf_token %}
            <table class="table table-success table-hover align-middle fs-6">                     
              <tr>
                  <td>Tên Nhà Cung Cấp</td>                
                  <td><input type="text" class="w-100" name="name" value="{{supplier.name}}" required/></td>
              </tr>
              <tr>
                  <td>SĐT</td>                
                  <td><input type="text" class="w-100" name="phone" value="{{supplier.phone}}" required/></td>
              </tr> 
              <tr>
                  <td>Địa Chỉ</td>                
                  <td><input type="text" class="w-100" name="address" value="{{supplier.address}}" required/></td>
              </tr> 
               <td>Trạng Thái</td>                
                  <td>
                  <select class="w-100" name="is_active">
                      <option value="True" {% if supplier.is_active %}selected{% endif %}>Đang hoạt động</option>
                      <option value="False" {% if not supplier.is_active %}selected{% endif %}>Ngừng hoạt động</option>
                  </select>
                  </td>
          </table>  
          <div class="d-flex justify-content-end align-items-center gap-2 pe-2">
            <button type="submit" class="btn btn-success">Cập Nhật</button>
            <a href="/supplier"><button type="button" class="btn btn-secondary">Đóng</button></a>
        </div> 
        </form>
      </div>
    </div>

{% endblock manage %}